.container {
  max-width: 800px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.friendList {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 20px;
  gap: 20px;
}

.friendListItem {
  width: calc((100% - 80px) / 5);
  /* width: 100px; */
}

/* width: calc(100% / 3); */
